* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark: black;
  --light: white;
}

li {
  list-style: none;
}

.wrapper {
  padding: 2rem 2rem;
  height: 100vh;
}

.header {
  text-align: center;
}

.header > h1 {
  margin: 2rem;
}

.btn {
  font-size: 1.2rem;
  border-radius: 5px;
  padding: 0.5rem;
  background-color: white;
}

.about h2 {
  text-align: center;
  margin-top: 4rem;
}

.about p {
  font-size: 1.2rem;
  margin-top: 4rem;
  text-align: center;
}

.project-container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: space-evenly;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border: 2px solid white;
  border-radius: 0.8rem;
  padding: 0.6rem;
  text-align: center;
  margin-top: 4rem;
}

.card h2 {
  font-size: 2rem;
}

.card p {
  font-size: 1.5rem;
}

.card span {
  font-size: 1.5rem;
}

.contact {
  margin-top: 4rem;
}

.contact p {
  font-size: 1.2rem;
  text-align: center;
  text-decoration: underline;
  text-decoration-thickness: 3px;
}
